@media only screen and (max-width: 1400px) {
    .container {
      min-width: 1140px;
    }
    .section4_div {
      width: 50%;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .container {
      min-width: 960px;
    }
    .hover_div_in > span,
    .hover_div_in > p {
      font-size: 13px;
    }
    .hover_div:hover span {
      top: 0px;
    }
    .hover_div:hover p {
      bottom: -20px;
    }
    .section4_div {
      width: 100%;
      margin-left: 25%
    }
    .io{
      visibility: hidden;
      display: none;
    }
  
    .section5 img{
      width: 100%;
    }
  
    .section4_div img{
      width: 70%;
    }
  
    .xwe{
      width: 100%;
      flex-wrap: wrap;
    }
  
    .section3_div{
      width: 100%;
      flex-wrap: wrap;
    }
  
    .foot{
      display: flex;
      flex-wrap: wrap;
      height: 164vh;
    }
  
    .foot1,.foot2,.foot3{
      width: 100%;
    }
  
  }
  
  @media only screen and (max-width: 992px) {
    .section2_div {
      width: 50%;
    }
    .container {
      min-width: 720px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      min-width: 540px;
    }
  
    .section2_div {
      width: 100%;
    }
  
  
  
  
  }
  
  @media only screen and (max-width: 576px) {
    .container {
      min-width: 100%;
      box-sizing: border-box;
    }
  }